<!-- reset-password.component.html -->
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="password">New Password:</label>
      <input type="password" id="password" formControlName="password" />
      <div *ngIf="submitted && resetPasswordForm.get(['password'])?.invalid">
        <small>Password is required and must be at least 6 characters long.</small>
      </div>
    </div>
  
    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" />
      <div *ngIf="submitted && resetPasswordForm.get(['confirmPassword'])?.invalid">
        <small>Confirmation password is required.</small>
      </div>
    </div>
  
    <button type="submit">Reset Password</button>
  
    <div *ngIf="errorMessage">
      <small class="error">{{ errorMessage }}</small>
    </div>
    <div *ngIf="successMessage">
      <small class="success">{{ successMessage }}</small>
    </div>
  </form>
  