<nav class="navbar">
  <a routerLink="/" class="logo">EduTech</a>
  <ul class="nav-links">
    <!-- Other navigation items -->
    <li>
      <a href="#" class="cta"><i class="fas fa-sign-in-alt"></i> Sign In | Sign Up</a>
      <ul class="dropdown">
        <li><a href="/student-login" target="_blank"><i class="fas fa-user-graduate"></i> Students</a></li>
        <li><a href="/teacher-login" target="_blank"><i class="fas fa-chalkboard-teacher"></i> Teacher</a></li>
        <li><a href="/parent-login" target="_blank"><i class="fas fa-user"></i> Parents</a></li>
      </ul>
    </li>
  </ul>
</nav>
