<router-outlet></router-outlet>

<app-front-nav></app-front-nav>
<app-hero></app-hero>
<app-clients></app-clients>
 <app-features></app-features> 
 <app-about></app-about> 
 <app-testimonials></app-testimonials>
 <app-advertisement></app-advertisement>
<app-services></app-services>  
<app-team></app-team>
 <app-contact-us></app-contact-us>
 <app-cta></app-cta>
<app-footer></app-footer>      
<!-- <app-student-login></app-student-login>
<app-parent-login></app-parent-login> -->

<!-- <app-sample1></app-sample1>
<app-sample2></app-sample2>
<app-sample3></app-sample3>
<app-sample4></app-sample4>
<app-sample5></app-sample5> -->