<aside class="sidebar">

  <div class="logo">
    EduTech
  </div>

  <div class="admin-label">
    Administration
  </div>

  <nav class="navigation">

    <a routerLink="/admin-dashboard">
      Overview
    </a>

    <div class="navigation-group">

      <p>Education</p>

      <a routerLink="/admin/education-programs">
        Programs
      </a>

      <a routerLink="/admin/departments">
        Departments
      </a>

      <a routerLink="/admin/education-years">
        Education Years
      </a>

      <a routerLink="/admin/subjects">
        Subjects
      </a>

    </div>

  </nav>

</aside>