<div class="resource-widget">
    <h2>Educational Resources</h2>

    <label for="classSelect">Select Class:</label>
    <select id="classSelect" [(ngModel)]="selectedClass">
      <option value="all">All Classes</option>
      <option *ngFor="let classNum of classOptions" [value]="classNum">{{ classNum }}</option>
    </select>

    <input type="text" placeholder="Search resources..." [(ngModel)]="searchTerm" />
    
    <select [(ngModel)]="selectedCategory">
      <option value="all">All Categories</option>
      <option value="videos">Videos</option>
      <option value="tutorials">Tutorials</option>
      <option value="articles">Articles</option>
    </select>

    <div class="resource-item" *ngFor="let resource of filteredResources">
      <a [href]="resource.link" target="_blank">
        <h3>{{ resource.title }}</h3>
        <p>{{ resource.description }}</p>
      </a>
    </div>
</div>
